body {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
  font-family: "Myraid Pro Regular" sans-serif;
}

h1,
.contant__title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}


h2,
.contant__title {
  font-size: 30px;
  line-height: 24px;  
  color: #000000;
  font-weight: bold;
}
